template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_logic_app_weather_integration_name": {
            "defaultValue": "logic-app-weather-integration",
            "type": "String"
        },
        "connections_azureblob_externalid": {
            "defaultValue": "/subscriptions/532a2be4-42a6-49da-8876-0d0fb59e0e55/resourceGroups/rg-weather-integration/providers/Microsoft.Web/connections/azureblob",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_logic_app_weather_integration_name')]",
            "location": "swedencentral",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "interval": 30,
                                "frequency": "Minute",
                                "timeZone": "W. Europe Standard Time"
                            },
                            "evaluatedRecurrence": {
                                "interval": 30,
                                "frequency": "Minute",
                                "timeZone": "W. Europe Standard Time"
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "HTTP": {
                            "runAfter": {},
                            "type": "Http",
                            "inputs": {
                                "uri": "https://api.open-meteo.com/v1/forecast?latitude=59.33&longitude=18.06&current_weather=true",
                                "method": "GET"
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "HTTP": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HTTP')",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "current_weather": {
                                            "type": "object",
                                            "properties": {
                                                "temperature": {
                                                    "type": "number"
                                                },
                                                "windspeed": {
                                                    "type": "number"
                                                },
                                                "weathercode": {
                                                    "type": "integer"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "Condition": {
                            "actions": {
                                "Skapa_blob_(V2)": {
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azureblob']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "body": "@body('HTTP')",
                                        "headers": {
                                            "ReadFileMetadataFromServer": true
                                        },
                                        "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/files",
                                        "queries": {
                                            "folderPath": "/weatherdata",
                                            "name": "weather-@{utcNow()}.json",
                                            "queryParametersSingleEncoded": true
                                        }
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Terminate": {
                                        "type": "Terminate",
                                        "inputs": {
                                            "runStatus": "Failed",
                                            "runError": {
                                                "code": "InvalidWeatherData",
                                                "message": "Weather API returned invalid or missing temperature value"
                                            }
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "greater": [
                                            "@body('Parse_JSON')?['current_weather']?['temperature']",
                                            -100
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azureblob": {
                                "id": "/subscriptions/532a2be4-42a6-49da-8876-0d0fb59e0e55/providers/Microsoft.Web/locations/swedencentral/managedApis/azureblob",
                                "connectionId": "[parameters('connections_azureblob_externalid')]",
                                "connectionName": "azureblob",
                                "connectionProperties": {}
                            }
                        }
                    }
                }
            }
        }
    ]
}
